/* 0.8% of css. thanks jane */

.mymodal, .myoverlay {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.mymodal {
  width: 70%;
  height: 90%;
  border: 8px solid #33A0FF;
  background: #FFFFFF;
  overflow: auto;
  border-radius: 8px;
  padding: 8px;
}

.myoverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000BF;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 11;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}